.restaurant-edit{
    h1{
        text-align: center;
    }
    .form-control{
        border-radius: .625rem;
        border: 3px solid #b45cff;
    }
    form{
        padding: 0 3rem;
    }   
    .btn{
        background-color: #b45cff;
        color: white;
    }
}